# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# misc
.DS_Store
*.pem

# dependencies
node_modules
.pnp
.pnp.js

# debug
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# next.js
.next
out
build

# nest.js
dist

# testing
coverage
.nyc_output

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo
